services:
  ros2_humble:
    image: osrf/ros:humble-desktop-full
    container_name: ros2_humble
    ports:
      - "7400:7400/udp"
      - "7410-7420:7410-7420/udp"
    stdin_open: true
    tty: true
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=file:///etc/cyclonedds.xml
      - ROS_DOMAIN_ID=0
    volumes:
      - .:/root/ros2_ws
      - ./cyclonedds.xml:/etc/cyclonedds.xml
      - ./cyclonedds.xml:/root/.cyclonedds.xml
    entrypoint: ["/root/ros2_ws/docker-entrypoint.sh"]
    command: bash

